.jumbotron {
  background-image: url('../img/landing.jpg');
  text-align: center;
  width: 104%;
  margin-bottom: 0px;
}

.jumbotron h2 {
  color: white;
}

.hamburger-menu-button {
  float: left;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
  font-size: 30px;
}

.modal-content {
  width: 150%;
  height: 412px;
  background-color: #F15A29;
}

.modal-body a {
  color: black;
  font-size: 20px;
}

.bar {
  float: left;
  font-size: 35px;
  color: white;
}

.side-bar {
  color: black;
  background-color: #F15A29;
  display: none;
  height: 100vh;
}

.links a {
  color: black;
  display: block;
  font-size: 60px;
  text-align: center;
}

#menu {
  width: 107%;
}

#menu img {
  box-shadow: inset 0px 0px 0px 20px rgba(255, 255, 255, 0.52);
}

#buffet {
  width: 100%;
  padding: 65px;
  color: #f1f1f1;
  text-align: center;
  bottom: 0;
}

.pic1 {
  background-image: url('../img/foodtop/breakfast.jpg');
}

.pic2 {
  background-image: url('../img/foodtop/lunch.jpg');
}

.pic3 {
  background-image: url('../img/foodtop/dinner.jpg');
}

.upper {
  background-color: #ffffff;
  height: 97px;
  width: 304px;
  text-align: center;
}

.lower {
  background-color: #f15a29;
  width: 304px;
  height: 96px;
  text-align: center;
}

#double-image p {
  padding-top: 20px;
}

.drinks {
  float: left;
  text-align: right;
}

#drink-img {
  float: right;
  box-shadow: 0px 0px 19px 0px;
  padding: 15px;
  margin-bottom: 35px;
}

.thumbnail {
  box-shadow: 0px 0px 19px 0px;
  padding: 15px;
  margin-bottom: 35px;
  margin-top: 35px;
}

.col-lg-12 jumbotron {
  background-image: url('../img/foodsBg.jpg');
}

/* #carousel li {
  font-size: 27px;
  background-color: #e5e5e5;
  padding: 20px;
} */

.bg-food {
  background-image: url('../img/foodsBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 150px;
  padding-top: 118px;
  padding right: 69px;
}

#carousel {
  padding: 39px;
  background-color: white;
  margin: 23px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-icon {
  font-size: 37px;
  color: red;
  padding-top: 50px;
}

#carousel img {
  width: 100%;
}

.nav nav-tabs {
  width: 200px;
  height: 100px;
}

.image-text {
  font-size: 15px;
  color: #f15a29;
  text-align: center;
  margin-right: 45px;
}

.container-fluid {
  padding: 0px;
}

.nav-tabs {
  border-bottom: 0px;
  padding: 0px;
  background-color: #e5e5e5;
  font-size: 26px;
  width: 96.1%;
  margin-left: 45px;
}

.nav-tabs li.active a {
  color: #f15a29;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

}

.nav-tabs li.nav1 a {
  color: #191919;
}

/* customer section */

#customers {
  width: 85%;
  background-color: white;
  padding-top: 18px;
}

.orange {
  color: #f15a29;
}

/* subscribe section */

.subscribe {
  background-image: url('../img/subscribe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 102.65%;
  height: 245px;
}

.subscribe-form {
  margin-top: 7%;
}

.subscribe-form p {
  color: white;
  font-size: 20px;
}

#emailInput {
  background-color: white;
  opacity: 0.3;
  width: 290px;
  height: 50px;
}

.subscribe-button {
  background-color: #f15a29;
  width: 200px;
  height: 50px;
  margin: 25px;
  border: 0;
}

/* footer section */

#footer {
  background-color: #f15a29;
  height: 310px;
}

.icons {
  align-items: center;
  width: 100%;
  text-align: center;
  padding-top: 78px;
}

.spans {
  font-size: 25px;
}

.pic1:hover {
  opacity: 0.3;
  webkit-transition: opacity .25s height: 300px;
  color: black;
  background-color: white;
}

.pic2:hover {
  opacity: 0.3;
  webkit-transition: opacity .25s height: 200px;
  color: black;
  background-color: white;
}

.pic3:hover {
  opacity: 0.3;
  webkit-transition: opacity .25s height: 200px;
  color: black;
  background-color: white;
}

#buffet:hover {
  color: black;
}